
body{
    background-color: navy;
}

.img {
  margin-top: 10px;
  margin-left: 2px;
}

.header {
  background-color: rgb(24, 11, 84);
    color: white;
    text-align: center;
    border: 1px solid #3399FF;
    padding: 0px;
}

.desc {
  background-color: rgb(24, 11, 84);
  text-align: center;
  color: white;
  width: 50px;
  height: 100px;
  width: 110px;
  padding: 20px;
  border: 2px solid #3399FF;
  margin: 0px;
}


.aside {
  background-color: rgb(103, 160, 239);
  text-align: center;
  color: white;
  width: 50px;
  height: 100px;
  width: auto;
  padding: 25px;
  border: 2px solid #3399FF;
  margin-bottom: -100px;
  margin-top: -300px;
  margin-right: 0px;
  margin-left: 170px;
}
.aside2 {
  background-color: rgb(103, 160, 239);
  text-align: center;
  color: white;
  width: 50px;
  height: 100px;
  width: auto;
  padding: 25px;
  border: 2px solid #3399FF;
  margin-top: 100px;
  margin-right: 0px;
  margin-left: 170px;
}

.aside3 {
  background-color: rgb(24, 11, 84);
  text-align: center;
  color: white;
  width: 50px;
  height: 50px;
  width: 110px;
  padding: 20px;
  border: 2px solid #3399FF;
  margin-top: -50px;
}

footer {
  color: white
}




